@import "normalize";
@import "_gameUI";

body {
  background: lightgray;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input {
  &::-webkit-input-placeholder {
    color: black;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: white;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: black;
  }

  &:-ms-input-placeholder {
    color: black;
  }
}

body {
  //temporary...
  overflow: hidden;
}

#online_users {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,0.4);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: 2px solid;
}

#online_users_list {
  display: none;
  list-style: none;
  text-align: left;
  padding-left: 5px;
  margin: 0;
  border-top: 5px solid white;

  li {
    height: 25px;
    line-height: 32px;
  }
}

#logged_in {
  display: none;
}

#register_signup {
  display: none;
}

#register_strip {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;

}

#join_container {
  margin-top: 55px;
}

#logged_out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(255,255,255,0.2);

  #logged_out_container {
    position: relative;
    top: 10%;
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: rgba(0,0,0,0.4);
    margin: 0 auto;
  }

  h1 {
    background: black;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-family: Helvetica, Arial;
    color: white;

    span {
      color: deepskyblue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  
  input, .button {
    width: 260px;
    height: 50px;
    text-align: center;
    font-family: Helvetica, Arial;
    font-size: 18px;
    margin: 0 auto;
    background: rgba(255,255,255,0.5);
    border: 0;
    border: 2px solid;
  }

  input {
    margin-bottom: 5px;

    &:hover, &:focus {
      border: 1px dashed black;
      outline: 0;
    }
  }

  .button {
    line-height: 45px;
    cursor: pointer;
    transition: 0.5s;

    &:hover, &:focus {
      background: black;
      transition: 0.5s;
      color: white;
    }
  }
}

#chat_container {
  width: 100%;
  position: absolute;
  bottom: 0;
  border: 2px solid;
  height: 200px;
  background: rgba(0,0,0,0.4);

  p {
    color: white;
    margin: 10px 0 0 0;
  }

  #chat_frame {
    width: 100%;
    height: 100%;
    padding: 10px 10px 35px 10px;
    overflow-y: scroll;
  }
  
  input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-top: 2px solid;
    background: rgba(0,0,0,0.4);
    outline: 0;
    border: 0;
    color: white;
    padding-left: 10px;


    &.focus {
      background: rgba(0,0,0,0.6);
    }

  }
}

#navbar {
  //display: none;
  position: fixed;
  width: 75px;
  height: 100%;
  background: black;
  z-index: 5;
  overflow: hidden;

  ul {
    padding: 0;

    li {
      display: block;
      color: white;
      width: 100%;
      height: 75px;
      margin: 10px 0;
      font-size: 14px;
      border: 2px solid white;
      cursor: pointer;
      transition: 1s;
      &:hover {
        background: lightgray;
        transition: 1s;
      }
    }

  }
}

#blog_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 120px 120px 120px;
  background: rgba(0,0,0,0.8);
  overflow: hidden;

  #blog_view_container {
    position: absolute;
    display: none;
    max-width: 700px;
    width: 100%;
    height: 500px;
    background-color: rgba(255,255,255,0.4);
    background-size: 100% 100%;
  }
  .post {

  }

  h1 {
    color: white;
  }

  p {
    color: white;
    margin-bottom: 20px;
    line-height: 26px;
    font-family: Helvetica;
    font-size: 18px;

  }

  span.blog_view_toggle {
    display: block;
    color: deepskyblue;
    font-weight: bold;
    cursor: pointer;
    margin: 25px 0;
  }
}

#version_number {
  color: lightblue;
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}